* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
hr {
  border: 0.5px solid blue;
  width: 30%;
}
.loader-cont {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
  list-style-position: initial;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
